<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href={{ url_for('static', filename='style.css')}}/>
    <script src="https://kit.fontawesome.com/bbf02a7108.js" crossorigin="anonymous"></script>
    <title>Equilibrium</title>
</head>

{% block body %}

<body>
    <div class="topo-bg">
        <div class="topo-info">
            <div class="topo-logo">
                <h1>EQUILIBRIUM</h1>
                <h6>Desde 2006</h6>
            </div>
            <div class="topo-endereco">
                <p>Av. Getúlio Vargas - 141
                    Magalhães - Laguna/SC</p>
            </div>
        </div>
    </div>


    <header>
        <div class="menu-bg">
            <div class="menu">
                <div class="info-menu">
                    <p>Suplementos e Produtos Naturais</p>
                </div>
            <nav class="menu-nav">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#suplementos">Suplementos</a></li>
                    <li><a href="#produtos-naturais">Produtos Naturais</a></li>
                    <li><a href="#contato">Contato</a></li>
                </ul>
            </nav>
        </div>
    </div>  
    </header>
    
    <section>
        <div class="suplementos" id="suplementos">
            <h1>Suplementos</h1>
            {% for suplemento in suplementos %}
            <div class="produto">
                <a href="{{ url_for('single_produto', produto_id=suplemento)}}">
                    <div class="produto-preco">
                        <h4>{{suplementos[suplemento]['nome']}}</h4>
                        <p>R${{"%.2f"|format(suplementos[suplemento]['preco'])}}</p>
                    </div>
                    <div class="suplementos-img">
                        <img src="{{url_for('static', filename=suplementos[suplemento]['imagem'])}}" alt="">
                    </div>
                    <div class="produto-preco">
                        <p>{{suplementos[suplemento]['descricao'][:20]}}...</p>
                    </div>
                </a>
                <button>Comprar</button>
                <button>Adicionar ao carrinho</button>
            </div>
            {% endfor %}
            <div class="ver-mais">
                <a href={{ url_for('suplementos')}}>Ver mais</a>
            </div>
        </div>
    </section>

    <section>
        <div class="suplementos" id="produtos-naturais">
            <h1>Produtos Naturais</h1>
            {% for produto in produtos_naturais %}
            <div class="produto">
                <a href="{{ url_for('single_produto', produto_id=produto)}}">
                    <div class="produto-preco">
                        <h4>{{produtos_naturais[produto]['nome']}}</h4>
                        <p>R${{produtos_naturais[produto]['preco']}}</p>
                    </div>
                    <div class="suplementos-img">
                        <img src="{{url_for('static', filename=produtos_naturais[produto]['imagem'])}}" alt="">
                    </div>
                    <div class="produto-preco">
                        {% if produtos_naturais[produto]['descricao']|length > 20 %}
                        <p>{{produtos_naturais[produto]['descricao'][:20]}}...</p>
                        {% else %}
                        <p>{{produtos_naturais[produto]['descricao']}}</p>
                        {% endif %}
                    </div>
                </a>
                <button>Comprar</button>
                <button>Adicionar ao carrinho</button>
            </div>
            {% endfor %}
            <div class="ver-mais">
                <a href={{ url_for('produtos_naturais') }}>Ver mais</a>
            </div>
        </div>
    </section>

    <div class="carrinho-bg">
        <div class="carrinho">
            <i class="fa-solid fa-cart-shopping"></i>
        </div>
    </div>
    {% endblock %}
    <section>
        <div class="contato-bg" id="contato">
            <div class="contato-info">
                <h1>Contato</h1>
                <div class="contato-conteudo">
                    <span>
                        <a href="tel:+554836442376" target="_blank" rel="noopener">
                            <i class="fa-solid fa-phone"></i>
                            (48) 3644-2376
                        </a>
                    </span>
                </div>
                <div class="contato-conteudo">
                    <span>
                        <!-- <a href="tel:+5548991250202">(48) 9 9125-0202</a> -->
                        <a href="https://api.whatsapp.com/send?phone=+5548991250202&text=Olá! Gostaria de comprar um negócinho." target="_blank" rel="noopener">
                            <i class="fa-brands fa-whatsapp"></i>
                            (48) 9 9125-0202
                        </a>
                    </span>
                </div>
                <div class="contato-conteudo">
                    <span>
                        <a href="https://instagram.com/qmerda_mano?utm_source=qr&igshid=MzNlNGNkZWQ4Mg==" target="_blank" rel="noopener">
                            <i class="fa-brands fa-instagram"></i>
                            equilibrium_laguna
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-bg">
            <div class="footer-conteudo">
                <p>&copy; Todos os direitos reservados - Equilibrium Laguna </p>
            </div>
        </div>
    </footer>
</body>
</html>