{% extends 'layout.html' %}
{% block nav%}
<ul>
    <li><a href="#">Home</a></li>
    <li><a href="#suplementos">Suplementos</a></li>
    <li><a href="#produtos-naturais">Produtos Naturais</a></li>
    <li><a href="#contato">Contato</a></li>
</ul>
{% endblock %}
{% block content %}
<body>
    <section>
        <div class="suplementos" id="suplementos">
            <h1>Suplementos</h1>
            {% for suplemento in suplementos %}
            <div class="produto">
                <a href="{{ url_for('single_produto', produto_id=suplemento)}}">
                    <div class="produto-preco">
                        <h4>{{suplementos[suplemento]['nome']}}</h4>
                        <p>R${{"%.2f"|format(suplementos[suplemento]['preco'])}}</p>
                    </div>
                    <div class="suplementos-img">
                        <img src="{{url_for('static', filename=suplementos[suplemento]['imagem'])}}" alt="">
                    </div>
                    <div class="produto-preco">
                        {% if suplementos[suplemento]['descricao']|length > 20 %}
                        <p>{{suplementos[suplemento]['descricao'][:20]}}...</p>
                        {% else %}
                        <p>{{suplementos[suplemento]['descricao']}}</p>
                        {% endif %}
                    </div>
                </a>
                {% if session['email'] == 'email@gmail.com' %}
                <form action=" {{url_for('update_produto', produto_id=suplementos[suplemento]['id']) }} " method="get">
                    <button type="submit">Alterar</button>
                </form>
                <form action=" {{url_for('delete_produto', produto_id=suplementos[suplemento]['id']) }} " method="post">
                    <button type="submit">Deletar</button>
                </form>
                {% else %}
                <a class='manda-mensagem' target='_blank' href="https://api.whatsapp.com/send?phone=+5548991250202&text=Olá! Gostaria de comprar este produto:%0a{{suplementos[suplemento]['nome']}}%0aR${{suplementos[suplemento]['preco']}}">Comprar</a>
                <form action=" {{url_for('adicionar_ao_carrinho')}}" method='post'>
                    <input name='produto' type="hidden" value='{{suplementos[suplemento]}}'>
                    <button type='submit'>Adicionar ao carrinho</button>
                </form>
                {% endif %}
            </div>
            {% endfor %}
            <div class="ver-mais">
                <a href={{ url_for('suplementos')}}>Ver mais</a>
            </div>
        </div>
    </section>

    <section>
        <div class="suplementos" id="produtos-naturais">
            <h1>Produtos Naturais</h1>
            {% for produto in produtos_naturais %}
            <div class="produto">
                <a href="{{ url_for('single_produto', produto_id=produto)}}">
                    <div class="produto-preco">
                        <h4>{{produtos_naturais[produto]['nome']}}</h4>
                        <p>R${{"%.2f"|format(produtos_naturais[produto]['preco'])}}</p>
                    </div>
                    <div class="suplementos-img">
                        <img src="{{url_for('static', filename=produtos_naturais[produto]['imagem'])}}" alt="">
                    </div>
                    <div class="produto-preco">
                        {% if produtos_naturais[produto]['descricao']|length > 20 %}
                        <p>{{produtos_naturais[produto]['descricao'][:20]}}...</p>
                        {% else %}
                        <p>{{produtos_naturais[produto]['descricao']}}</p>
                        {% endif %}
                    </div>
                </a>
                {% if session['email'] == 'email@gmail.com' %}
                <form action=" {{url_for('update_produto', produto_id=produtos_naturais[produto]['id']) }} " method="get">
                    <button type="submit">Alterar</button>
                </form>
                <form action=" {{url_for('delete_produto', produto_id=produtos_naturais[produto]['id']) }} " method="post">
                    <button type="submit">Deletar</button>
                </form>
                {% else %}
                <a class='manda-mensagem' target='_blank' href="https://api.whatsapp.com/send?phone=+5548991250202&text=Olá! Gostaria de comprar este produto:%0a{{produtos_naturais[produto]['nome']}}%0aR${{produtos_naturais[produto]['preco']}}">Comprar</a>
                <form action=" {{url_for('adicionar_ao_carrinho')}}" method='post'>
                    <input name='produto' type="hidden" value='{{produtos_naturais[produto]}}'>
                    <button type='submit'>Adicionar ao carrinho</button>
                </form>
                {% endif %}
            </div>
            {% endfor %}
            <div class="ver-mais">
                <a href={{ url_for('produtos_naturais') }}>Ver mais</a>
            </div>
        </div>
    </section>
</body>
{% endblock %}
    