{% extends 'layout.html' %}
{% block content %}

<body>
    <section>
        <div class="suplementos" id="suplementos">
            <h1>Suplementos</h1>
            {% for suplemento in suplementos %}
            <div class="produto">
                <a href="{{ url_for('single_produto', produto_id=suplemento)}}">
                    <div class="produto-preco">
                        <h4>{{suplementos[suplemento]['nome']}}</h4>
                        <p>R${{"%.2f"|format(suplementos[suplemento]['preco'])}}</p>
                    </div>
                    <div class="suplementos-img">
                        <img src="{{url_for('static', filename=suplementos[suplemento]['imagem'])}}" alt="">
                    </div>
                    <div class="produto-preco">
                        <p>{{suplementos[suplemento]['descricao'][:20]}}...</p>
                    </div>
                </a>
                <button>Comprar</button>
                <button>Adicionar ao carrinho</button>
            </div>
            {% endfor %}
            <div class="ver-mais">
                <a href={{ url_for('suplementos')}}>Ver mais</a>
            </div>
        </div>
    </section>

    <section>
        <div class="suplementos" id="produtos-naturais">
            <h1>Produtos Naturais</h1>
            {% for produto in produtos_naturais %}
            <div class="produto">
                <a href="{{ url_for('single_produto', produto_id=produto)}}">
                    <div class="produto-preco">
                        <h4>{{produtos_naturais[produto]['nome']}}</h4>
                        <p>R${{"%.2f"|format(produtos_naturais[produto]['preco'])}}</p>
                    </div>
                    <div class="suplementos-img">
                        <img src="{{url_for('static', filename=produtos_naturais[produto]['imagem'])}}" alt="">
                    </div>
                    <div class="produto-preco">
                        {% if produtos_naturais[produto]['descricao']|length > 20 %}
                        <p>{{produtos_naturais[produto]['descricao'][:20]}}...</p>
                        {% else %}
                        <p>{{produtos_naturais[produto]['descricao']}}</p>
                        {% endif %}
                    </div>
                </a>
                <button>Comprar</button>
                <button>Adicionar ao carrinho</button>
            </div>
            {% endfor %}
            <div class="ver-mais">
                <a href={{ url_for('produtos_naturais') }}>Ver mais</a>
            </div>
        </div>
    </section>
</body>
{% endblock %}
    