<body>
    <div class="topo-bg">
        <div class="topo-info">
            <div class="topo-logo">
                <h1>EQUILIBRIUM</h1>
                <h6>Desde 2006</h6>
            </div>
            <div class="topo-endereco">
                <p>Av. Getúlio Vargas - 141
                    Magalhães - Laguna/SC</p>
            </div>
        </div>
    </div>
    <header>
        <div class="menu-bg">
            <div class="menu">
                <div class="info-menu">
                    <p>Suplementos e Produtos Naturais</p>
                </div>
            <nav class="menu-nav">
                <ul>
                    <li><a href={{ url_for('index') }}>Home</a></li>
                    <li><a href={{ url_for('suplementos') }}>Suplementos</a></li>
                    <li><a href="">Produtos Naturais</a></li>
                    <li><a href="#contato">Contato</a></li>
                </ul>
            </nav>
        </div>
    </div>  
    </header>
</body>

{% extends 'index.html' %}

{% block body %}

<section>
    <div class="suplementos" id="produtos-naturais">
        <h1>Produtos Naturais</h1>
        {% for produto in produtos_naturais %}
            <div class="produto">
                <a href="{{url_for('single_produto', produto_id=produto)}}">
                    <div class="produto-preco">
                        <h4>{{produtos_naturais[produto]['nome']}}</h4>
                        <p>R${{produtos_naturais[produto]['preco']}}</p>
                    </div>
                    <div class="suplementos-img">
                        <img src="{{url_for('static', filename=produtos_naturais[produto]['imagem'])}}" alt="">
                    </div>
                    <div class="descricao-produto">
                        <p>{{produtos_naturais[produto]['descricao']}}</p>
                    </div>
                </a>
                <button>Comprar</button>
                <button>Adicionar ao carrinho</button>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}