{% extends 'layout.html' %}

{% block content %}

<section>
    <div class="suplementos" id="produtos-naturais">
        <h1>Produtos Naturais</h1>
        {% for produto in produtos_naturais %}
            <div class="produto">
                <a href="{{url_for('single_produto', produto_id=produto)}}">
                    <div class="produto-preco">
                        <h4>{{produtos_naturais[produto]['nome']}}</h4>
                        <p>R${{"%.2f"|format(produtos_naturais[produto]['preco'])}}</p>
                    </div>
                    <div class="suplementos-img">
                        <img src="{{url_for('static', filename=produtos_naturais[produto]['imagem'])}}" alt="">
                    </div>
                    <div class="descricao-produto">
                        <p>{{produtos_naturais[produto]['descricao']}}</p>
                    </div>
                </a>
                {% if session['email'] == 'email@gmail.com' %}
                <form action=" {{url_for('update_produto', produto_id=produtos_naturais[produto]['id']) }} " method="get">
                    <button type="submit">Alterar</button>
                </form>
                <form action=" {{url_for('delete_produto', produto_id=produtos_naturais[produto]['id']) }} " method="post">
                    <button type="submit">Deletar</button>
                </form>
                {% else %}
                <a class='manda-mensagem' target='_blank' href="https://api.whatsapp.com/send?phone=+5548991250202&text=Olá! Gostaria de comprar este produto:%0a{{produtos_naturais[produto]['nome']}}%0aR${{produtos_naturais[produto]['preco']}}">Comprar</a>
                <form action=" {{url_for('adicionar_ao_carrinho')}}" method='post'>
                    <input name='produto' type="hidden" value='{{produtos_naturais[produto]}}'>
                    <button type='submit'>Adicionar ao carrinho</button>
                </form>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}