{% extends 'layout.html' %}

{% block content %}

<section>
    <div class="suplementos" id="produtos-naturais">
        <h1>Produtos Naturais</h1>
        {% for produto in produtos_naturais %}
            <div class="produto">
                <a href="{{url_for('single_produto', produto_id=produto)}}">
                    <div class="produto-preco">
                        <h4>{{produtos_naturais[produto]['nome']}}</h4>
                        <p>R${{"%.2f"|format(produtos_naturais[produto]['preco'])}}</p>
                    </div>
                    <div class="suplementos-img">
                        <img src="{{url_for('static', filename=produtos_naturais[produto]['imagem'])}}" alt="">
                    </div>
                    <div class="descricao-produto">
                        <p>{{produtos_naturais[produto]['descricao']}}</p>
                    </div>
                </a>
                <button>Comprar</button>
                <button>Adicionar ao carrinho</button>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}