{% extends 'layout.html' %}

{% block content %}
<div class="produto-single">
    <a href="">
    <div class="produto-preco">
        <h4>{{produto['nome']}}</h4>
        <p>R${{produto['preco']}}</p>
        <p>{{produto['descricao']}}</p>
    </div>
        <div class="suplementos-img">
            <img src="data:{{ 'image/' + produto['imagem']['tipo'] }};base64,{{ produto['imagem']['imagem_data']}}" alt="">
        </div>
    </a>
    <form action=" {{url_for('update_produto', produto_id=produto['id']) }} " method="get">
        <button type="submit">Alterar</button>
    </form>
    <form action=" {{url_for('delete_produto', produto_id=produto['id']) }} " method="post">
        <button type="submit">Deletar</button>
    </form>
</div>
{% endblock %}