{% extends 'layout.html' %}

{% block content %}
<div class="produto-single">
    <a href="">
    <div class="produto-preco">
        <h4>{{produto['nome']}}</h4>
        <p class='preco-produto'>R${{"%.2f"|format(produto['preco'])}}</p>
        <p class='descricaco-produto'>{{produto['descricao']}}</p>
    </div>
        <div class="suplementos-img-single-produto">
            <img src="{{ url_for('static', filename=produto['imagem'])}}" alt="">
        </div>
    </a>
    <form action=" {{url_for('update_produto', produto_id=produto['id']) }} " method="get">
        <button type="submit">Alterar</button>
    </form>
    <form action=" {{url_for('delete_produto', produto_id=produto['id']) }} " method="post">
        <button type="submit">Deletar</button>
    </form>
</div>
{% endblock %}