{% extends "layout.html" %}

{% block content %}

<section>
    <div class="suplementos" id="suplementos">
        <h1>Suplementos</h1>
        {% for suplemento in suplementos %}
            <div class="produto">
                <a href="{{url_for('single_produto', produto_id=suplemento)}}">
                    <div class="produto-preco">
                        <h4>{{suplementos[suplemento]['nome']}}</h4>
                        <p>R${{"%.2f"|format(suplementos[suplemento]['preco'])}}</p>
                    </div>
                    <div class="suplementos-img">
                        <img src="{{url_for('static', filename=suplementos[suplemento]['imagem'])}}" alt="">
                    </div>
                    <div class="descricao-produto">
                        <p>{{suplementos[suplemento]['descricao']}}</p>
                    </div>
                </a>
                <button>Comprar</button>
                <button>Adicionar ao carrinho</button>
            </div>
        {% endfor %}
    </div>
</sction>

{% endblock %}