<body>
    <div class="topo-bg">
        <div class="topo-info">
            <div class="topo-logo">
                <h1>EQUILIBRIUM</h1>
                <h6>Desde 2006</h6>
            </div>
            <div class="topo-endereco">
                <p>Av. Getúlio Vargas - 141
                    Magalhães - Laguna/SC</p>
            </div>
        </div>
    </div>

    <header>
        <div class="menu-bg">
            <div class="menu">
                <div class="info-menu">
                    <p>Suplementos e Produtos Naturais</p>
                </div>
            <nav class="menu-nav">
                <ul>
                    <li><a href={{ url_for('index')}}>Home</a></li>
                    <li><a href={{ url_for('suplementos')}}>Suplementos</a></li>
                    <li><a href={{ url_for('produtos_naturais')}}>Produtos Naturais</a></li>
                    <li><a href="#contato">Contato</a></li>
                </ul>
            </nav>
        </div>
    </div>  
    </header>
</body>

{% extends "index.html" %}

{% block body %}

<section>
    <div class="suplementos" id="suplementos">
        <h1>Suplementos</h1>
        {% for suplemento in suplementos %}
            <div class="produto">
                <a href="">
                    <div class="produto-preco">
                        <h4>{{suplementos[suplemento]['nome']}}</h4>
                        <p>R${{suplementos[suplemento]['preco']}}</p>
                    </div>
                    <div class="suplementos-img">
                        <img src={{ url_for('static', filename='img-2.jpg')}} alt="">
                    </div>
                    <div class="produto-preco">
                        <p>{{suplementos[suplemento]['descricao']}}</p>
                    </div>
                </a>
                <button>Comprar</button>
                <button>Adicionar ao carrinho</button>
            </div>
        {% endfor %}
    </div>
</sction>

{% endblock %}